<!-- app/views/sessions/new.html.erb -->

%h2 Sign In to AlzAboutMe 

= form_tag login_path do
  .form-group
  %p
    = label :user, :username, 'Username: '
    = text_field :user, 'username', {:type => "text", :class => "form-control", :id => "username", :placeholder => "Username"}

  %p
    = label :user, :password, 'Password: '
    = password_field :user, 'password', {:type => "password", :class => "form-control", :id => "password", :placeholder => "Password"}
  .btn
    = submit_tag 'Log In', :id => "loginButton"

#flash-display
  - flash.each do |type, msg|
    %div{:class => "alert alert-#{type == :notice ? "success" : type} fadeout", "data-dismiss" => "alert"}
      %button.close &times;
      = msg if msg.is_a?(String)