-if memcard.editing == false
    .frontCard{:id => "mult_answer_card"}
        = link_to "/memory_cards/" + memcard.id.to_s + "/edit", {:remote => true, :method => :put} do
            %h1= memcard.question
        -if memcard.answer.nil? == false
            - memcard.multiple_choice_entries.each do |choice|
                -if choice == memcard.answer
                    %b= memcard.answer 
                    %br

        %br 
        = button_to "Edit", "/memory_cards/" + memcard.id.to_s + "/edit", {:remote => true, :method => :put, :class => "btn"} 
            
            
            
-if memcard.editing == true
    .backCard
        %h1= memcard.question
        = form_tag "/memory_cards/"+ memcard.id.to_s , {:method => :put, :remote => true} do
            .form-group.mc
                - label :memory, :field
                - memcard.multiple_choice_entries.each do |choice|
                    %br
                    = radio_button :user, "memory", choice
                    = label "user_memory", choice
                %br
                = submit_tag 'Update Memory', {:id => "updateMemoryButton", :class => "btn"}
        = button_to "Cancel", "/memory_cards/" + memcard.id.to_s + "/exit", {:remote => true, :method => :put, :class => "btn"} 
        
        