-if memcard.editing == false
    .frontCard{:id => "mult_answer_card"}
        = link_to (edit_memory_card_path(:id => memcard.id)) do
            %h1= memcard.question
        -if memcard.answer.nil? == false
            - memcard.multiple_choice_entries.each do |choice|
                -if choice == memcard.answer
                    You Chose: 
                    %b= memcard.answer 
                -else 
                    = choice 
                %br 
            
-if memcard.editing == true
    .backCard
        %h1= memcard.question
        = form_tag "/memory_cards/"+ memcard.id.to_s , :method => :put do
            .form-group
            = label :memory, :field, 'Answer: '
            - memcard.multiple_choice_entries.each do |choice|
                %br
                = radio_button :user, "memory", choice
                = label "user_memory", choice
            %br
            = submit_tag 'Update Memory', {:id => "updateMemoryButton"}
        = button_to "Cancel", "/memory_cards/"+ memcard.id.to_s
        