-if memcard.editing == false
    .frontCard{:id => "short_answer_card"}
        = link_to (edit_memory_card_path(:id => memcard.id)) do
            %h1= memcard.question
        -if memcard.answer.nil? == false
            %h3= memcard.answer
        = button_to "Edit", "/memory_cards/"+ memcard.id.to_s
            
-if memcard.editing == true
    .backCard
        %h1= memcard.question
        = form_tag "/memory_cards/"+ memcard.id.to_s , :method => :put do
            .form-group
                = label :memory, :field, 'Answer: '
                - if memcard.answer.nil? == false
                    = text_field :user, 'memory', :value => memcard.answer, :type => "text", :class => "form-control", :id => "memoryfield", :placeholder => "Answer here"
                -else
                    = text_field :user, 'memory', :value => memcard.answer, :type => "text", :class => "form-control", :id => "memoryfield", :placeholder => "Answer here"
            = submit_tag 'Update Memory', {:id => "updateMemoryButton"}
        = button_to "Cancel", "/memory_cards/"+ memcard.id.to_s