-# in app/views/users/log_in.html.haml

%link{:rel => :stylesheet, :href => "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css", :integrity => "sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u", :crossorigin => "anonymous"}


.container-fluid
%h2 Sign In to AlzAboutMe

= form_tag sessions_login_path do
  .form-group
  %p
    = label :user, :username, 'Username: '
    = text_field :user, 'username', {:type => "text", :class => "form-control", :id => "signUpEmail", :placeholder => "Username"}

  %p
    = label :user, :password, 'Password: '
    = password_field :user, 'password', {:type => "password", :class => "form-control", :id => "signUpEmail", :placeholder => "Password"}
  .btn
    = submit_tag 'Log In'