-# in app/views/users/sign_up.html.haml

%link{:rel => :stylesheet, :href => "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css", :integrity => "sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u", :crossorigin => "anonymous"}

.container-fluid
%h2 Sign Up with AlzAboutMe

#flash-display
  - flash.each do |type, msg|
    %div{:class => "alert alert-#{type == :notice ? "success" : type} fadeout", "data-dismiss" => "alert"}
      %button.close &times;
      = msg if msg.is_a?(String)

= form_tag users_path do
  .form-group
    = label :user, :first_name, 'First Name: '
    = text_field :user, 'first_name', {:type => "text", :class => "form-control", :id => "firstname", :placeholder => "First", :value => @user_params[:first_name]}
  .form-group
    = label :user, :last_name, 'Last Name: '
    = text_field :user, 'last_name', {:type => "text", :class => "form-control", :id => "lastname", :placeholder => "Last", :value => @user_params[:last_name] }
  .form-group
    = label :user, :username, 'Username: '
    = text_field :user, 'username', {:type => "text", :class => "form-control", :id => "username", :placeholder => "Username", :value => @user_params[:username] }
  .form-group
    = label :user, :email, 'Email: '
    = text_field :user, 'email', {:type => "email", :class => "form-control", :id => "email", :placeholder => "Email", :value => @user_params[:email] }
  .form-group
    = label :user, :password, 'Password: '
    = password_field :user, 'password', {:type => "password", :class => "form-control", :id => "password", :placeholder => "Password", :value => @user_params[:password] }
  .form-group
    = label :user, :password_confirmation, 'Confirm Password'
    = password_field :user, 'password_confirmation', {:type => "password", :class => "form-control", :id => "confirmpassword", :placeholder => "Password", :value => @user_params[:password_confirmation] }

  .btn 
    = submit_tag 'Submit', {:id => "signUpSubmitButton"}
