-# in app/views/users/sign_up.html.haml

%h2 Sign Up with AlzAboutMe

= form_tag users_path do
  .form-group
    = label :user, :first_name, 'First Name: '
    = text_field :user, 'first_name', {:type => "text", :class => "form-control", :id => "firstname", :placeholder => "First"}
  .form-group
    = label :user, :last_name, 'Last Name: '
    = text_field :user, 'last_name', {:type => "text", :class => "form-control", :id => "lastname", :placeholder => "Last" }
  .form-group
    = label :user, :username, 'Username: '
    = text_field :user, 'username', {:type => "text", :class => "form-control", :id => "username", :placeholder => "Username" }
  .form-group
    = label :user, :email, 'Email: '
    = text_field :user, 'email', {:type => "email", :class => "form-control", :id => "email", :placeholder => "Email" }
  .form-group
    = label :user, :password, 'Password: '
    = password_field :user, 'password', {:type => "password", :class => "form-control", :id => "password", :placeholder => "Password" }
  .form-group
    = label :user, :password_confirmation, 'Confirm Password'
    = password_field :user, 'password_confirmation', {:type => "password", :class => "form-control", :id => "confirmpassword", :placeholder => "Password" }

  .btn 
    = submit_tag 'Submit', {:id => "signUpSubmitButton"}
