-# homefeed.html.haml using partial
%h1 Welcome

-if session[:user_id].nil? == false
  %h1 Your name here
  = form_tag users_homefeed_path, :method => :get do
    = label :memory, :field, 'Answer'
    - if session[:recorded_memory] != nil
      = text_field :user, 'memory', :id => "memoryfield", :value => session[:recorded_memory]
    -else
      = text_field :user, 'memory', :id => "memoryfield"
    = submit_tag 'Update Memory', {:id => "updateMemoryButton"}
    - if flash[:notice]
      = flash[:notice]
      
     
     
     
   
    
